@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13vh;
  width: 100%;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  border-bottom: #ddd solid 1px;
  z-index: 999;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .logo img {
  width: 2.6em;
  height: 2.8em;
}

nav .logo span {
  font-weight: bold;
  color: #3A8D8E;
  width: 130px;
  height: 50px;
  margin-left: 5px;
}

nav .logo span p {
  font-size: 21px;
  line-height: 24px;
  width: 100%;
  height: 100%;
}

.nav-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.nav-list-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0;
}

.nav-list-items ul li {
  list-style: none;
}

.nav-list-items ul li a {
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #00BABD;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 10px;
}

nav .button-and-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .button-and-toggle .nav-button a {
  text-decoration: none;
  display: block;
  background-color: #fff;
  text-align: center;
  padding: 6px 14px 5px;
  border: 2px solid #00cacc;
  border-radius: 4px;
  color: #00cacc;
  font-style: normal;
  font-size: 0.8em;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

nav .button-and-toggle .nav-toggle {
  margin-left: 1.5em;
  cursor: pointer;
}

nav .button-and-toggle .nav-toggle img {
  width: 35px;
  height: 100%;
  margin-bottom: -0.6em;
}

.toggle-content {
  display: none;
}

.hero-section {
  height: 87vh;
  width: 100%;
  background: url(/exported/hero-section-img.png) center/cover no-repeat fixed;
}

.hero-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .content h1 {
  width: 80%;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #EEFFFF;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.41);
}

.hero-section .content .livechat {
  position: fixed;
  right: 33px;
  bottom: 33px;
  z-index: 9999;
  cursor: pointer;
}

.hero-section .content .livechat img {
  display: block;
  position: fixed;
  right: 33px;
  bottom: 33px;
  width: 56px;
  height: 56px;
  z-index: 9999;
  cursor: pointer;
}

.hero-section .content .livechat .chat-text {
  position: absolute;
  width: 121px;
  right: 4em;
  top: -3.5em;
  text-transform: uppercase;
  background-color: #f5f7f9;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: #43474e;
  padding: 7px;
  margin-right: 14px;
  letter-spacing: 0.03em;
}

.about-us {
  width: 70%;
  margin: 0 auto;
  margin-top: 1.4em;
  margin-bottom: 1.5em;
  height: 220px;
  background: rgba(245, 252, 255, 0.67);
  border: 1px solid #319697;
}

.about-us h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #378586;
  margin-top: 14px;
}

.about-us p {
  font-size: 14px;
  /* or 15px */
  text-align: center;
  font-weight: 500;
  color: #5C656C;
  width: 80%;
  margin: auto;
}

.our-services {
  width: 100%;
  height: auto;
  background-image: url(/exported/what-we-do-bg.png);
  background-color: rgba(26, 34, 62, 0.83);
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 12px;
  padding-bottom: 1em;
}

.our-services h3 {
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #F5FFFF;
}

.box {
  width: 70%;
  margin: auto;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
}

.box .img {
  width: 50%;
  height: 100%;
}

.box .img img {
  position: relative;
  width: 100%;
  height: 100%;
}

.box .text {
  width: 50%;
  background: #F4FCFF;
}

.box .text h4 {
  color: #1E4546;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
}

.box .text p {
  font-size: 13px;
  font-weight: 40;
  text-align: center;
  width: 90%;
  margin: auto;
}

/* Gallery */
.gallery-container {
  margin-bottom: 1em;
}

.gallery h4 {
  margin-top: 10px;
  font-weight: 600;
  color: #87a0a0;
  margin-bottom: 0;
}

.gallery .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.gallery .row .column {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  width: auto;
  height: 100%;
  overflow: hidden;
}

.gallery .row .column img {
  width: 100%;
  height: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Making image gallery responsive */
@media (max-width: 992px) {
  .gallery .row .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media (max-width: 560px) {
  .gallery .row .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.get-in-touch {
  padding-top: 1em;
}

.get-in-touch form {
  padding: 1em 2em 3em;
}
/*# sourceMappingURL=main.css.map */