@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    width: 100%;
    background: #fff;
    position: sticky;
    left: 0;
    top: 0;
    border-bottom: #ddd solid 1px;

}
.nav-list-items {
    display: flex;
    align-self: center;
}
.nav-list-items ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    // background-color: hotpink;


    li {
        list-style: none;

        a {
            text-decoration: none;
            margin-left: 1em;
            margin-right: 1em;
            letter-spacing: 0.02em;
        }
    }
}

nav {
    .button-and-toggle {
        display: flex;

        .nav-button {
            
            a {
                text-decoration: none;
                display: block;
                background-color: hotpink;
                padding: 5px 8px 4px;
                border: 2px solid black;
                border-radius: 4px;
            }
        }
        .nav-toggle {
            margin-left: 1.5em;

            i img {
                width: 30px;
                height: auto;
                margin-bottom: -0.6em;
            }
        }
    }
}

.toggle-content {
    display: none;
}

.hero-section {
    height: 87vh;
    width: 100%;
    background-image: url(/exported/hero-section-img.png);

    .content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
        h1 {
            color: #ddfafc;
            width: 80%;
            text-align: center;
            
        }
        img {
            display: block;
            position: fixed;
            right: 33px;
            bottom: 33px;
            width: 56px;
            height: 56px;
        }
    }
    
}